<app-layout>
  <@title>Marko News App</@title>
  <@content>
    <mast>
      <@title>
        Just a little news 🎙 app,
        <br/>built on MarkyMarkoJS 📺
      </@title>
    </mast>
    <search-with-results/>
  </@content>
</app-layout>
